body {
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: auto;
    width: 70%;
}
nav p {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    border-bottom: 1px solid #d5d5d5;
}
nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
}
ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
}
li{
    font-size: 1.2em;
    padding-bottom: 1.2em;
}
nav ul li, footer ul li {
    display: inline;
    font-size: 1.5em;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 2.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.2em;
    line-height: 1.2em;
    color: #333;
    text-align: justify
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 20px; 
    font-size: 1em;
}

ul.posts li {
    list-style: none;
}

* {
  box-sizing: border-box;
}
/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
