<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script src="https://kit.fontawesome.com/82e78aae04.js"></script>

		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
				<li><a href="/stats">Stats</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/contact">Contact</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<!--<p style="margin-top:1em;"><i class="fa fa-envelope"></i> &nbsp; Write us at <a href="mailto:humap-trier@posteo.de">humap-trier@posteo.de</a> &nbsp; |  &nbsp; <i class='fab fa-slack'></i> &nbsp; Join us on <a href="https://humaptrier.slack.com/">Slack</a> and chat with us &nbsp;|  &nbsp; <i class="fas fa-heart"></i> &nbsp; Visit one of our events or come by our bi-weekly meetings</p>
-->
	    		<ul>
	        		<li><a href="mailto:humap-trier@posteo.de">email</a></li>
	        		<li><a href="https://humaptrier.slack.com">HuMap Trier on Slack</a></li>
			</ul>
			</footer>
		</body>
	</html>
