<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script src="https://kit.fontawesome.com/82e78aae04.js"></script>

		</head>
		<body>
			<p>Humanitarian Student Mapping Group - Trier University<br /><a href="/"><img src="/logos/HuMap_Logo.png" alt="HuMap" style="width:319px;height:110px;"></a></p>
	    	<nav>
			<ul>
	        		<li><a href="/">Home</a></li>
				<li><a href="/who">Who we are</a></li>
				<!---<li><a href="/events">Events</a></li>--->
				<li><a href="/stats">Stats</a></li>
				<!---<li><a href="/blog">Blog</a></li>--->
				<li><a href="/contact">Contact</a></li>
				<!---<li><a href="/FAQ">FAQ</a></li>--->
	    		</ul>
		</nav>
		<div class="container">
				</br>
			{{ content }}
				</br>
		</div><!-- /.container -->
		<footer>
	    		<ul>
	        		<div><li><i class="fa fa-envelope"></i> &nbsp; Write us at <a href="mailto:humap-trier@posteo.de">humap-trier@posteo.de</a> or register for the mailing list <a href="https://forms.gle/KAxEoy3s7K8shuWy9">here</a></li></div>
				<div><li><i class="fas fa-heart"></i> &nbsp; Visit one of our events or come by our meetings</div>
			</ul>
			</footer>
		</body>
	</html>
