<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script src="https://kit.fontawesome.com/82e78aae04.js"></script>

		</head>
		<body>
	    	<nav>
			<ul>
	        		<li><a href="/">Home</a></li>
				<!---<li><a href="/who">Who we are</a></li>--->
				<!---<li><a href="/events">Events</a></li>--->
				<!---<li><a href="/stats">Stats</a></li>--->
				<!---<li><a href="/blog">Blog</a></li>--->
				<!---<li><a href="/contact">Contact</a></li>--->
				<!---<li><a href="/FAQ">FAQ</a></li>--->
	    		</ul>
		</nav>
		<div class="container">
				</br>
			{{ content }}
				</br>
		</div><!-- /.container -->
		<footer>
	    		<ul>
	        		<div><li><i class="fa fa-envelope"></i> &nbsp; Write us at <a href="mailto:humap-trier@posteo.de">humap-trier@posteo.de</a></li></div>
	        		<div><li><i class='fab fa-slack'></i> &nbsp; Join us on <a href="https://join.slack.com/t/humaptrier/shared_invite/enQtNzIwNjkxMzM3MTkxLTUxYWU2ZWY3NDYxYTBiZWQxY2NiYzlhOWYwYjcyODZmMWEzY2JkYWIyMGNlZTdlNDE5OTM0ODM2YWY2OWU1Mzg">Slack</a> and chat with us</li></div>
				<div><li><i class="fas fa-heart"></i> &nbsp; Visit one of our events or come by our meetings</div>
			</ul>
			</footer>
		</body>
	</html>
